<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <title>Document</title>
    <style>
		body {
			background-image: url('{% static "background.jpg" %}');
			background-size: cover;
			background-repeat: no-repeat;
			background-position: center;
		}
	</style>

</head>
<body>
<div class="container">
    <form method= 'get' action="../delrecord/">
        {%csrf_token%}
        <select name="table">
            <option selected>Select table</option>
            <option value="emp">Doctors</option>
            <option value="patients">Patients</option>
        </select>
        ID : <input type="text" name="tdelete" value="" width="200"><br>
        <button type="submit">Delete Record</button>
    </form>
</div>
</body>
</html>